@media screen and (max-width: 1240px) {
    #container-main-info{
        padding-right: 20px;
        padding-left: 20px;
    }
    #img-main-box .main-img img{
        max-width: 100%;
        grid-row: auto;
    }
    #container-second{
        padding-right: 20px;
        padding-left: 20px;
    }
    #second-images{
    }
    #container-footer{
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media screen and (max-width: 1070px) {
    #container-main-info{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
        justify-items: center;
    }
    #main-text_h{
        margin-bottom: 30px;
        padding-top: 30px;
    }
    #main-text{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .main-img{
        align-self: start;
    }
}
@media screen and (max-width: 1190px) {
    #container-second{
        padding-top: 40px;
    }
    #second-header{
        text-align: center;
    }
    #second-header .main-header{
        text-align: center;
        font-size: 30px;
        max-width: none;
    }
    #container-second #he
}
@media screen and (max-width: 717px){
    #container-second{
        padding-bottom: 30px;
    }
    #second-header .main-header{
        font-size: 24px;
        padding-bottom: 20px;
    }
    .sec_box .sec_span{
        font-size: 18px;
    }
    #second-images{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
    }
    #container-main-info{
        padding-top: 30px;
        padding-bottom: 30px;
    }

}
@media screen and (max-width: 610px){
    #text-box{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        grid-row-gap: 10px;
    }
    #container-main-info{
        grid-template-rows: none;
    }
    #main-text .main-header{
        text-align: center;
        font-size: 26px;
    }
    #main-text_h{
        text-align: center;
        margin: 0 auto;
        display: inline-block;

    }
}
@media screen and (max-width: 530px) {
    #header-menu{
        padding-left: 20px;
        padding-right: 20px;
    }
    #header-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }
    #header-items a{
        margin: 0;
    }
    #header-items a:last-child {
        grid-row: 3 / 3;
        grid-column: 1 / 3;
    }
}
@media screen and (max-width: 497px){
    #container-footer{
        grid-column-gap: 15px;
    }
    #container-footer span{
        text-align: end;
        line-height: 2;
    }
}
@media screen and (max-width: 410px){
    #container-footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 15px;
    }
    #container-footer span{
        order: 3;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    #footer-svg{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        order: 2;
    }
    #footer-logo{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        order: 1;
    }
}